In [ ]:
import pandas as pd

In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
Then, print the DataFrame.

import pandas as pd


data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}


df = pd.DataFrame(data)

print(df)

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
A DataFrame is a two-dimensional, tabular data structure that consists of rows and columns. It is similar 
to a spreadsheet or SQL table and provides a way to store and manipulate structured data. Each column in 
a DataFrame can be of a different data type, and it can be thought of as a collection of Pandas Series.
The DataFrame is a more complex and versatile data structure compared to a Series.

A Series, on the other hand, is a one-dimensional labeled array. It can be seen as a single column of a DataFrame.
A DataFrame is essentially a collection of Series, where each column is a Series, and these columns share a common index.

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
# Display the first 5 rows of the DataFrame
df.head()
# Display information about the DataFrame
df.info()
# Display summary statistics of the DataFrame
df.describe()
# Get the shape of the DataFrame
df.shape
# Select rows and columns using labels
df.loc[0:2, ['Name', 'Age']]

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Series and DataFrame are mutable

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.